<label class="control-label">{{i18n "preferences.title"}}</label>
    <div class="controls">
      <label class="checkbox-label">
        <Input @type="checkbox" @checked={{model.see_abbreviations}} />
        {{i18n "preferences.key"}}
      </label>
    </div>
